<nav>
  <app-nav></app-nav>
</nav>
<app-banner-header class="mb-5"></app-banner-header> <!-- Increased margin for more space -->
<div class="container">
  <section id="info" class="mb-4" style="margin-top: 20px;">
    <app-basic-info></app-basic-info>
  </section>
  <section id="skills" class="mb-4">
    <app-professional-skills></app-professional-skills>
  </section>
  <section id="portfolio" class="mb-4">
    <app-portfolio-gallery></app-portfolio-gallery>
  </section>
  <section id="experience" class="mb-4">
    <app-work-experience></app-work-experience>
  </section>
  <section id="education" class="mb-4">
    <app-education></app-education>
  </section>
  <section id="references" class="mb-4">
    <app-references></app-references>
  </section>
</div>
<section id="contact">
  <app-contact-form></app-contact-form>
</section>
<app-footer class="mt-4"></app-footer>
  

<router-outlet />
